#puck1
{
  width:30px;
  height:30px;
  background-color:black;
  border-radius:15px;
  position:absolute;
}
#puck2
{
  width:30px;
  height:30px;
  background-color:red;
  border-radius:15px;
  position:absolute;
}
#puck3
{
  width:30px;
  height:30px;
  background-color:blue;
  border-radius:15px;
  position:absolute;
}
#field
{
  width:1000px;
  height:800px;
  background-color:#90EE90;
}
