#mainarea{
 background-image: url("paper.gif");
 background-color: #cccccc;
 width:600px;
 height:400px;
}
#circle{
  border: 5px solid black;
  border-radius:30px;
  top:20px;
  left:20px;
  width:60px;
  height:60px;
  position: relative;
}
#square{
  border: 5px solid black;
  top:120px;
  left:20px;
  width:60px;
  height:60px;
  position: relative;
}
#sometext1{
  top:120px;
  left:20px;
  border: none;
  position: relative;
}
